{{> header }}


    <video poster="../Coffee-Shot/Snapshots/Coffee-Shot.jpg" id="bgvid" playsinline autoplay muted loop>
    <source src="../Coffee-Shot/Mp4/Coffee-Shot.mp4" type="video/webm">
    <source src="../Coffee-Shot/Webm/Coffee-Shot.webm" type="video/mp4">
    </video>
    <div id="homeVideo">
    <!-- <div id="mainTitle">JITTERZ</div> -->
    </div>
    <div id="mainTitle">JITTERZ</div>


<!-- footer below -->

</div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
  <div class="col-group">
    <hr>
      <div style="color:white;">
          JITTERZ

          <div style="color:#CFB055;">
            1625 N. Conway Ave.,<br />
            Mission, TX 78572<br />
            956.581.4147<br />
          </div>
        </div>


      <div class="social_buttons">
          <a href="https://www.facebook.com/jitterzcoffeebar/"><i class="fa fa-facebook"></i></a><br />
          <a href="https://twitter.com/JitterzCoffee"><i class="fa fa-twitter"></i></a><br />
          <a href="https://www.instagram.com/jitterzcoffeebar/"><i class="fa fa-instagram"></i></a><br />
      </div>

      <div  style="color:white;">
  			<ul class="list-unstyled">
          MORE INFO<br />
          <a href="/about">About</a><br />
          <a href="/contact">Contact</a><br />
          <a href="/feedback">Feedback</a>
  			</ul>
  		</div>
    </div>
    <hr>


<div class="footer-bottom"><a href="/game">Copyright &copy; Jitterz 2016</a></div>

</footer>

</body>
</html>
