{{> header }}

          </div>
      </nav>
    </div>
    <video poster="../Coffee-Shot/Snapshots/Coffee-Shot.jpg" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="../Coffee-Shot/Mp4/Coffee-Shot.mp4" type="video/webm">
    <source src="../Coffee-Shot/Webm/Coffee-Shot.webm" type="video/mp4">
    </video>
    <div id="homeVideo">
    <div id="mainTitle">JITTERZ</div>
    </div>

    <!-- <div class="container">
      <div class="homeText">
        <div class="homeTitle">
            JITTERZ
        </div>
        1625 N. Conway Ave., Mission, TX 78572
      </div>
    </div> -->

    {{> footer }}
