{{> header }}
<title>Locations</title>

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCt6ph1fIz_4O8kmbR4y5gicaJZp9TVzLM&sensor=false&extension=.js'></script>

<script>
    google.maps.event.addDomListener(window, 'load', init);
    var map;
    function init() {
        var mapOptions = {
            center: new google.maps.LatLng(26.218176, -98.317161),
            zoom: 14,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.DEFAULT,
            },
            disableDoubleClickZoom: true,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            },
            scaleControl: true,
            scrollwheel: true,
            panControl: true,
            streetViewControl: true,
            draggable : true,
            overviewMapControl: true,
            overviewMapControlOptions: {
                opened: false,
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [
	{"featureType": "all",
		"stylers":[
			{"saturation": 0},
			{"hue": "#e7ecf0"}
		]
	},
	{"featureType": "road",
		"stylers":[
			{"saturation": -70}
		]
	},
	{"featureType": "transit",
		"stylers":[
			{"visibility": "off"}
		]
	},
	{"featureType": "poi",
		"stylers":[
			{"visibility": "off"}
		]
	},
	{"featureType": "water",
		"stylers":[
			{"visibility": "simplified"},
			{"saturation": -60}
		]
	}
],
        }
        var mapElement = document.getElementById('locations');
        var map = new google.maps.Map(mapElement, mapOptions);
        var locations = [
['Jitterz', 'undefined', '956.581.4147', 'undefined', 'https://jitterz.herokuapp.com', 26.2228262, -98.3245824, 'https://mapbuildr.com/assets/img/markers/default.png'],['CEED Cafe', 'Coming Soon!', '', 'undefined', 'https://jitz2.herokuapp.com/', 26.2120768, -98.31137, 'https://mapbuildr.com/assets/img/markers/default.png']
        ];
        for (i = 0; i < locations.length; i++) {
			if (locations[i][1] =='undefined'){ description ='';} else { description = locations[i][1];}
			if (locations[i][2] =='undefined'){ telephone ='';} else { telephone = locations[i][2];}
			if (locations[i][3] =='undefined'){ email ='';} else { email = locations[i][3];}
           if (locations[i][4] =='undefined'){ web ='';} else { web = locations[i][4];}
           if (locations[i][7] =='undefined'){ markericon ='';} else { markericon = locations[i][7];}
            marker = new google.maps.Marker({
                icon: markericon,
                position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                map: map,
                title: locations[i][0],
                desc: description,
                tel: telephone,
                email: email,
                web: web
            });
if (web.substring(0, 7) != "http://") {
link = "http://" + web;
} else {
link = web;
}
            bindInfoWindow(marker, map, locations[i][0], description, telephone, email, web, link);
     }
 function bindInfoWindow(marker, map, title, desc, telephone, email, web, link) {
      var infoWindowVisible = (function () {
              var currentlyVisible = false;
              return function (visible) {
                  if (visible !== undefined) {
                      currentlyVisible = visible;
                  }
                  return currentlyVisible;
               };
           }());
           iw = new google.maps.InfoWindow();
           google.maps.event.addListener(marker, 'click', function() {
               if (infoWindowVisible()) {
                   iw.close();
                   infoWindowVisible(false);
               } else {
                   var html= "<div style='color:#000;background-color:#fff;padding:5px;width:150px;'><h4>"+title+"</h4><p>"+desc+"<p><p>"+telephone+"<p><a href='"+link+"'' >"+web+"<a></div>";
                   iw = new google.maps.InfoWindow({content:html});
                   iw.open(map,marker);
                   infoWindowVisible(true);
               }
        });
        google.maps.event.addListener(iw, 'closeclick', function () {
            infoWindowVisible(false);
        });
 }
}
</script>
<style>
    #locations {
        height:550px;
        width:800px;
    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
</style>


<div id="locationText">
  <h1 style="color:#CFB055;">Jitterz Coffee Bar</h1>
  <h3>1625 N. Conway Ave.</h3>
  <h3>Mission, TX 78572</h3>
  <h3>956.581.4147</h3>

  <div id='locations'></div>


{{> footer }}
