
 .col-group > div {
   padding-left: 2%;
   padding-right: 2%;
   text-align: center;
 }

 @media screen and (min-width: 290px) {
   .col-group {
     overflow: hidden;
   }
   .col-group > div {
     float: left;
     width: 33.3333333%;
   }
 }

 .footer-bottom {
   text-align: center;
   padding-bottom: 15px;
 }

 .social_buttons {
   font-size: 2em;
 }
